<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thêm sản phẩm</title>
</head>
<body>
<h1>Thêm sản phẩm</h1>

<form action="/add" method="POST" enctype="multipart/form-data">
    <div>
        <label>Tên sản phẩm</label><br>
        <input type="text" name="name" required>
    </div>

    <div>
        <label>Giá</label><br>
        <input type="number" name="price" required>
    </div>

    <div>
        <label>Số lượng</label><br>
        <input type="number" name="quantity" required>
    </div>

    <div>
        <label>Hình ảnh</label><br>
        <input type="file" name="image" accept="image/*" required>
    </div>

    <br>
    <button type="submit">Thêm sản phẩm</button>
</form>


<br>
<a href="/">⬅ Quay lại danh sách</a>
</body>
</html>
